body {
    padding: 0;
    margin: 0;
    min-width: 320px;
    
}

header {
    background: url('../img/header-bg.jpg');
    padding: 70px 0;

}



.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.item-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: right-1 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 100ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-1 > * {
  width: 20px;
  height: 20px;
  background: #F583A1;
  border-radius: 50%;
  background-color:  #443f8b;
}
@keyframes right-1 {
  10% {
    transform: rotate(250deg) translate(0, 0px);
  }
  50%, 65% {
    transform: rotate(250deg) translateX(-100px);
  }
  100% {
    transform: rotate(250deg) translate(0, 0px);
  }
}
.item-2 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: right-2 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-2 > * {
  width: 20px;
  height: 20px;
  background: #F583A1;
  border-radius: 50%;
  background-color:  #443f8b;
}
@keyframes right-2 {
  10% {
    transform: rotate(375deg) translate(0, 0px);
  }
  50%, 65% {
    transform: rotate(375deg) translateX(-100px);
  }
  100% {
    transform: rotate(375deg) translate(0, 0px);
  }
}
.item-3 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: right-3 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-3 > * {
  width: 20px;
  height: 20px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #443f8b;
}
@keyframes right-3 {
  10% {
    transform: rotate(500deg) translate(0, 0px);
  }
  50%, 65% {
    transform: rotate(500deg) translateX(-100px);
  }
  100% {
    transform: rotate(500deg) translate(0, 0px);
  }
}
.item-4 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: right-4 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-4 > * {
  width: 20px;
  height: 20px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #ff652b;
}
@keyframes right-4 {
  10% {
    transform: rotate(625deg) translate(0, 0px);
  }
  50%, 65% {
    transform: rotate(625deg) translateX(-100px);
  }
  100% {
    transform: rotate(625deg) translate(0, 0px);
  }
}
.item-5 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: right-5 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-5 > * {
  width: 20px;
  height: 20px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #ff652b;
}
@keyframes right-5 {
  10% {
    transform: rotate(750deg) translate(0, 0px);
  }
  50%, 65% {
    transform: rotate(750deg) translateX(-100px);
  }
  100% {
    transform: rotate(750deg) translate(0, 0px);
  }
}
.item-6 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: right-6 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 600ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-6 > * {
  width: 20px;
  height: 20px;
  background: #F583A1;
  border-radius: 50%;
  background-color: #ff652b;
}
@keyframes right-6 {
  10% {
    transform: rotate(875deg) translate(0, 0px);
  }
  50%, 65% {
    transform: rotate(875deg) translateX(-100px);
  }
  100% {
    transform: rotate(875deg) translate(0, 0px);
  }
}
.item-7 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: right-7 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 700ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-7 > * {
  width: 20px;
  height: 20px;
  background: #F583A1;
  border-radius: 50%;
  background-color:  #443f8b;
}
@keyframes right-7 {
  10% {
    transform: rotate(1000deg) translate(0, 0px);
  }
  50%, 65% {
    transform: rotate(1000deg) translateX(-100px);
  }
  100% {
    transform: rotate(1000deg) translate(0, 0px);
  }
}
.item-8 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: right-8 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 800ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-8 > * {
  width: 20px;
  height: 20px;
  background: #F583A1;
  border-radius: 50%;
  background-color:  #443f8b;
}
@keyframes right-8 {
  10% {
    transform: rotate(1125deg) translate(0, 0px);
  }
  50%, 65% {
    transform: rotate(1125deg) translateX(-100px);
  }
  100% {
    transform: rotate(1125deg) translate(0, 0px);
  }
}
.item-9 {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: right-9 4s infinite cubic-bezier(0, 0, 0.49, 1.02);
  animation-delay: 900ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-9 > * {
  width: 20px;
  height: 20px;
  background: #F583A1;
  border-radius: 50%;
  background-color:  #443f8b;
}
@keyframes right-9 {
  10% {
    transform: rotate(1250deg) translate(0, 0px);
  }
  50%, 65% {
    transform: rotate(1250deg) translateX(-100px);
  }
  100% {
    transform: rotate(1250deg) translate(0, 0px);
  }
}

  


header .portfolio {
    text-align: center;
}

header .portfolio .admin img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}

header .portfolio h3 {
    color: #A1A8AF;
    font-family: 'Raleway';
    font-size: 28px;
}

header .portfolio h5 {
    color: #A1A8AF;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    max-width: 50%;
    margin: auto;
}

.projects .content {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url('../img/works-bg.jpg');
}

.projects .content .title {
    width: 100%;
    text-align: center;
    font-family: raleway-bold, sans-serif;
    color: #A1A8AF;
}

.projects .content .item {
    background: #fff;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
    transition: all 0.3s ease-in-out;
    flex-basis: 300px;
    margin: 30px;
    -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.projects .content .item a {
    position: relative;
    display: block;
}

.projects .content .item img {
    vertical-align: bottom;
    border-radius: 3px 3px 0 0;
}

.projects .content .item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.3s ease-in-out;
    border-radius: 3px 3px 0 0;
    background: url('../img/overlay.png') repeat;
}

.projects .content .item .link-icon {
    display: block;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -18.5px;
    margin-top: -20px;
}

.projects .content .item .link-icon .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.projects .content .item .portfolio-item-meta {
    text-align: center;
}

.projects .content h5 {
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    font-family: raleway-bold, sans-serif;
}

.projects .content h5 a {
    text-decoration: none;
    color: #11ABB0;
}

.projects .content .item img {
    cursor: pointer;
    width: 300px;
    height: 175px;
}

.projects .content .item:hover {
    background: #555;
}

.projects .content .item:hover h5 a {
    color: #fff;
}

.projects .content .item:hover .overlay {
    opacity: .5;
}

.projects .content .item:hover .link-icon {
    opacity: 1;
}

#multiscroll{
    
}
#multiscroll .ms-left{
    text-align: end;
}
#multiscroll .ms-right{
    
}





.star {
    position: relative;
    color: #A1A8AF;
    align-self: center;
    margin-bottom: 5px;
}

.star::after {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 2px;
    top: 33%;
    background: #A1A8AF;
    left: 20px;
}

.star::before {
    content: "";
    position: absolute;
    display: block;
    width: 70px;
    height: 2px;
    top: 33%;
    background: #A1A8AF;
    right: 20px;
}

footer{
    background: url('../img/header-bg.jpg');
    padding: 70px 0;  
}
footer .social{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
footer .social{
    text-align: center;
    
}
footer .social h3{
    color: #A1A8AF;
    font-family: 'Raleway';
    font-size: 28px;
}
footer .social .icons{
    display: flex;
    flex-direction: column;
 
}
footer .social .icons a{
    text-decoration: none;
    color: #A1A8AF;
    font-size: 18px;
    margin: 5px;
}
