@charset "UTF-8";

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/../fonts/CeraPro-Italic.eot");
  src: local("../fonts/../fonts/Cera Pro Italic"), local("../fonts/../fonts/CeraPro-Italic"), url("../fonts/../fonts/CeraPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/CeraPro-Italic.woff") format("woff"), url("../fonts/../fonts/CeraPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("../fonts/Cera Pro Regular"), local("../fonts/CeraPro-Regular"), url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-BlackItalic.eot");
  src: local("../fonts/Cera Pro Black Italic"), local("../fonts/CeraPro-BlackItalic"), url("../fonts/CeraPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-BlackItalic.woff") format("woff"), url("../fonts/CeraPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Light.eot");
  src: local("../fonts/Cera Pro Light"), local("../fonts/CeraPro-Light"), url("../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-BoldItalic.eot");
  src: local("../fonts/Cera Pro Bold Italic"), local("../fonts/CeraPro-BoldItalic"), url("../fonts/CeraPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-BoldItalic.woff") format("woff"), url("../fonts/CeraPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Black.eot");
  src: local("../fonts/Cera Pro Black"), local("../fonts/CeraPro-Black"), url("../fonts/CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("../fonts/Cera Pro Medium"), local("../fonts/CeraPro-Medium"), url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("../fonts/Cera Pro Bold"), local("../fonts/CeraPro-Bold"), url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Thin.eot");
  src: local("../fonts/Cera Pro Thin"), local("../fonts/CeraPro-Thin"), url("../fonts/CeraPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Thin.woff") format("woff"), url("../fonts/CeraPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-MediumItalic.eot");
  src: local("../fonts/Cera Pro Medium Italic"), local("../fonts/CeraPro-MediumItalic"), url("../fonts/CeraPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-MediumItalic.woff") format("woff"), url("../fonts/CeraPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-LightItalic.eot");
  src: local("../fonts/Cera Pro Light Italic"), local("../fonts/CeraPro-LightItalic"), url("../fonts/CeraPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-LightItalic.woff") format("woff"), url("../fonts/CeraPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-ThinItalic.eot");
  src: local("../fonts/Cera Pro Thin Italic"), local("../fonts/CeraPro-ThinItalic"), url("../fonts/CeraPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-ThinItalic.woff") format("woff"), url("../fonts/CeraPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ins {
  text-decoration: none;
}

img,
textarea,
object,
object embed {
  max-width: 100%;
}

img {
  font-size: 0;
  height: auto;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  position: relative;
  text-align: left;
  line-height: 1.25;
  font-size: 18px;
  color: #000;
  font-family: "Cera Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cera Pro", serif;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  font-style: normal;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 60px;
}

h4 {
  font-size: 50px;
}

h5 {
  font-size: 40px;
}

h6 {
  font-size: 30px;
}

p {
  color: #fff;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

select,
input,
button {
  border: none;
}

select:focus,
input:focus,
button:focus {
  outline: none;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #ff9000;
  width: 10px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: #fff;

}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.visible {
  visibility: visible;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.clear {
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0;
}

.invisible {
  visibility: hidden;
}

.clear-self:after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  display: table;
}

.overflowHidden {
  overflow: hidden;
}

.site-wrap {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header,
footer,
main {
  position: relative;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  -ms-flex-preferred-size: calc(100%);
  flex-basis: calc(100%);
  background-color: rgba(0, 0, 0, 0.3);
}

.centered {
  max-width: 1300px;
  padding: 0 40px;
  margin: 0 auto;
}

.left-bar {
  height: 100vh;
  min-height: 100vh;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 219px;
  flex: 0 0 219px;
  width: 219px;
  position: fixed;
  z-index: 4;
  border-right: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.left-logo {
  position: relative;
  margin: 46px auto 0;
  display: inline-block;
  text-align: center;
  max-width: 214px;
}

.left-logo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: transparent;
}

.left-logo embed {
  max-width: 100%;
}

.left-logo * {
  cursor: pointer;
}

.social {
  width: 100%; 
  max-width: 26px;
  margin: 0 auto;
}

.social a {
  display: block;
  margin: 26px 0;
  text-align: center;
  font-size: 26px;
  color: #a3a3a3;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.social a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #ff9000;
}

.scroll-nav {
  width: 100%;
  text-align: center;
  color: #a3a3a3;
  max-width: 26px;
  margin: 0 auto 40px;
}

.mouse {
  position: relative;
  width: 26px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;
  background-size: 100% 200%;
  margin: 0 auto 22px;
}

.mouse:before,
.mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.mouse:before {
  width: 100%;
  height: 100%;
  border: 3px solid #a3a3a3;
  border-radius: 100px;
}

.mouse:after {
  top: 10px;
  bottom: auto;
  width: 4px;
  height: 8px;
  margin: 0 auto;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #a3a3a3;
}

.remodal-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.remodal {
  background: transparent;
  padding: 0;
}

.remodal-close {
  left: auto;
  right: 15px;
  height: 22px;
  width: 22px;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  z-index: 5;
}

.remodal-close img {
  position: relative;
  max-width: 100%;
  height: 100%;
}

.remodal-close:before {
  display: none;
}

.remodal-close:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}

.modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90vh;
  overflow: auto;
  position: relative;
  z-index: 1;
}

.modal-wrap ul,
.modal-wrap .append-buttons,
.modal-wrap .append-buttons2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.modal-wrap ul li,
.modal-wrap .append-buttons li,
.modal-wrap .append-buttons2 li {
  font-size: 20px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.modal-wrap ul li a,
.modal-wrap .append-buttons li a,
.modal-wrap .append-buttons2 li a {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

/*.modal-wrap ul li.nav-li.swiper-pagination-bullet.swiper-pagination-bullet-active a,
.modal-wrap ul li.active-nav a,
.modal-wrap .append-buttons li.nav-li.swiper-pagination-bullet.swiper-pagination-bullet-active a,
.modal-wrap .append-buttons li.active-nav a,
.modal-wrap .append-buttons2 li.nav-li.swiper-pagination-bullet.swiper-pagination-bullet-active a,
.modal-wrap .append-buttons2 li.active-nav a {
  color: #ff9000;
  font-weight: bold;
}

.modal-wrap ul li:hover a,
.modal-wrap .append-buttons li:hover a,
.modal-wrap .append-buttons2 li:hover a {
  color: #ff9000;
  font-weight: bold;
  -webkit-transform: translate(5px, 0);
  transform: translate(5px, 0);
}*/

.modal-wrap ul li a:before{
  content: attr(data-text-stroke);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 0;
  font-weight: 700;
  overflow: hidden;
  opacity: 0;
  color: #ff9000;
  white-space: nowrap;
  transition: all 1.5s cubic-bezier(0.29, 0.73, 0.74, 1.02);
}
.modal-wrap ul li.swiper-pagination-bullet-active a:before{
  opacity: 1;
  height: 100%;
}
.modal-wrap ul li[data-animation1="stroke-1"] a:before{
  bottom: 100%;
}

.modal-wrap ul li.swiper-pagination-bullet-active[data-animation1="stroke-2"] a{
  color: #ff9000;
}

.modal-wrap ul li[data-animation1="stroke-2"] a:before{
  color: #b2b2b2 !important;
  top: 0;
  bottom: 0;
  height: 100%;
}

.modal-wrap ul li.swiper-pagination-bullet-active[data-animation="stroke-left"] a:before{
  bottom: 0;
  color: #ff9000;
}
.modal-wrap ul li.swiper-pagination-bullet-active[data-animation1="stroke-1"][data-animation="stroke-right"] a{
  color: #ff9000;
  /*height: 0;*/
}
.modal-wrap ul li.swiper-pagination-bullet-active[data-animation="stroke-right"] a:before{
  color: #ff9000;
  /*width: 0;*/
}
.modal-wrap ul li.swiper-pagination-bullet-active[data-animation1="stroke-2"][data-animation="stroke-right"] a:before{
  color: #ff9000;
  height: 0;
}



.btn-more {
  display: inline-block;
  font-size: 0.9em;
  padding: 10px 20px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: rgba(255, 255, 255, 0.1);
}

.btn-more:before {
  content: '';
  width: 40px;
  height: 150px;
  background: #b6b6b6;
  position: absolute;
  left: 0;
  top: -20px;
  opacity: 0;
  z-index: 0;
  -webkit-transform: rotate(45deg) skew(20deg);
  transform: rotate(45deg) skew(20deg);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.btn-more:hover:before {
  opacity: 1;
  left: 100%;
}

.wrapper {
  margin: 0 auto;
}

nav#nav-test {
  position: fixed;
  right: 70px;
  top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

nav#nav-test #nav-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav#nav-test #nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

nav#nav-test #nav-container ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 78px;
  margin-left: 63px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav#nav-test #nav-container ul li:first-child {
  margin-left: 0;
}

nav#nav-test #nav-container ul li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b2b2b2;
   /*-webkit-text-stroke: 0.5px #ff9000;*/
}
nav#nav-test #nav-container ul li a:hover{
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
nav#nav-test #nav-container ul li a:before{
  content: attr(data-text-stroke);
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  width: 0;
  font-weight: 500;
  overflow: hidden;
  opacity: 0;
  color: #ff9000;
  white-space: nowrap;
  transition: all 1.5s cubic-bezier(0.29, 0.73, 0.74, 1.02);
}

nav#nav-test #nav-container ul li.swiper-pagination-bullet-active a:before{
  opacity: 1;
  width: 100%;
}
nav#nav-test #nav-container ul li[data-animation1="stroke-1"] a:before{
  right: 100%;
}

nav#nav-test #nav-container ul li.swiper-pagination-bullet-active[data-animation1="stroke-2"] a{
  color: #ff9000;
}

nav#nav-test #nav-container ul li[data-animation1="stroke-2"] a:before{
  color: #b2b2b2 !important;
  left: 0;
  right: 0;
  width: 100%;
}

nav#nav-test #nav-container ul li.swiper-pagination-bullet-active[data-animation="stroke-left"] a:before{
  right: 0;
  color: #ff9000;
}
nav#nav-test #nav-container ul li.swiper-pagination-bullet-active[data-animation="stroke-right"] a:before{
  color: #ff9000;
  /*width: 0;*/
}
nav#nav-test #nav-container ul li.swiper-pagination-bullet-active[data-animation1="stroke-2"][data-animation="stroke-right"] a:before{
  color: #ff9000;
  width: 0;
}
.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bg img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: left;
}

.slider-top {
  position: relative;
  z-index: 3;
  max-width: 1701px;
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
}

.slider-top h2 {
  font-size: 105px;
  color: #a3a3a3;
  font-weight: 900;
}

.slider-bot {
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
  position: relative;
  z-index: 3;
}

.slider-item {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  padding: 208px 0px 20px 353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  overflow-y: auto;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-item__name {
  font-size: 12.5em;
  line-height: 0.98;
  font-weight: 900;
  color: #b5b5b5;
  margin: 0;
  text-align: left;
}

.slider-item__info {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0.65px;
  font-style: normal;
  color: #b2b2b2;
  max-width: 1000px;
  margin-bottom: 38px;
  padding-left: 5px;
}

.slider-item__link {
  padding: 8px 23px;
  border: 1px solid #b5b5b5;
  color: #fff;
  font-size: 0.92em;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 17px;
}

.section-1 .slider-top {
  margin-bottom: 20px;
}

.section-1-item__info {
  max-width: 675px;
  padding-left: 17px;
  line-height: 1.65px;
}

.section-2 {
  padding-left: 364px;
  padding-top: 154px;
}

.section-2 .slider-item__info {
  margin-top: 16px;
  margin-bottom: 29px;
}

.section-3 {
  padding-left: 365px;
  padding-top: 115px;
}

.section-3 h2 {
  margin-bottom: 0;
}

.section-3 .slider-item__info {
  margin-top: 0px;
  line-height: 1.2;
}

.section-4 {
  padding-left: 365px;
  padding-top: 139px;
}

.section-5 {
  padding-left: 365px;
  padding-top: 162px;
}

.section-5 h2 {
  margin-bottom: 0;
}

.section-5 .slider-item__info {
  margin-bottom: 8px;
}

.swiper-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.swiper-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.paralax-bg {
  position: absolute;
  /*display: none;*/
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-position: center;
  -webkit-animation: slideIn 0.5s ease-in alternate;
  animation: slideIn 0.5s ease-in alternate;
}
.imggg{
 position: absolute;
 min-height: 100vh;
 max-width: 100%;
  /*display: none;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.paralax-bg.active{
  -webkit-animation: slideOut 0.5s ease-in alternate;
  animation: slideOut 0.5s ease-in alternate;
}

.swiper-slide {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  -ms-background-size: cover;
  background-size: cover;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  right: auto;
  top: auto;
  left: auto;
  bottom: auto;
  height: 20px;
  color: #a3a3a3;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position:   static;
  font-size: 12px !important;
  font-weight: 900 !important;
}

.swiper-button-prev:hover:after {
  -webkit-animation: fadeOutLeft 1s ease-in-out infinite;
  animation: fadeOutLeft 1s ease-in-out infinite;
}

.swiper-button-next:hover:after {
  -webkit-animation: fadeOutRight 1s ease-in-out infinite;
  animation: fadeOutRight 1s ease-in-out infinite;
}

_:-ms-fullscreen, :root .swiper-button-next {margin-top: -18px; margin-left: -4px;}
_:-ms-fullscreen, :root .swiper-button-next:after {content: '\f054';  font-family: FontAwesome; font-size: 12px !important; font-weight: 400;   margin-top: -5px;}
_:-ms-fullscreen, :root .swiper-button-prev:after {content: '\f053';  font-family: FontAwesome; font-size: 12px !important; font-weight: 400; }


.swiper-pagination-bullet {
  width: auto;
  height: auto;
  border-radius: none;
  background: transparent;
  opacity: 1;
}

.append-buttons2 {
  display: none !important;
}

.swiper-pagination-bullet:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}


.booot {
  position: relative;
  padding-left: 40px;
  min-width: 100%;
}

.booot-title {
  font-size: 1.3em;
  position: absolute;
  top: 100px;
  left: -24px;
  width: 256px;
  height: 131px;
  line-height: 131px;
  color: #ff9000;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.booot:after {
  content: '';
  position: absolute;
  top: 100px;
  left: -20px;
  right: 0;
  height: 130px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}

#slider-bottom {
  position: relative;
  margin-left: 251px;
  max-width: 1705px;
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
  background: transparent;
}

.works-block {
  display: block;
}

#carousel-custom-dots {
  position: absolute;
  top: 153px;
  left: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

#carousel-custom-dots .owl-dot {
  padding-left: 19px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 240px;
  flex: 0 0 240px;
  max-width: 240px;
  cursor: pointer;
  position: relative;
}

#carousel-custom-dots .owl-dot .works__name {
  opacity: 1;
}

#carousel-custom-dots .owl-dot.active .works__name {
  -webkit-transition: all 0.7s linear 0.1s;
  transition: all 0.7s linear 0.1s;
}

.custom-navbar {
  position: absolute;
  top: 20px;
  right: 0%;
  z-index: 2;
}

.custom-navbar__item {
  margin: 0 10px;
  background: none;
  border: none;
}

.custom-navbar__item:hover i {
  color: #ff9000;
}

.custom-navbar i {
  color: #fff;
  font-weight: 100;
  font-size: 35px;
  font-weight: 200;
}

.works {
  position: relative;
  min-width: 226px;
  max-width: 226px;
  padding: 183px 10px 20px 20px;
  overflow: hidden;
  z-index: 1;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.works:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(10%, #02020b), to(rgba(4, 7, 8, 0.0844713)));
  background: linear-gradient(0deg, black 0%, #02020b 10%, rgba(4, 7, 8, 0.0844713) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#040708",GradientType=1);
  z-index: 1;
}

.works img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-object-fit: cover;
}

.works__name {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  max-height: 30px;
  overflow: hidden;
  max-width: 95%;
  opacity: 0;
  z-index: 2;
  text-align: left;
  letter-spacing: 1.2px;
}

.works__info {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 3px;
  opacity: 0;
  z-index: 2;
  text-align: left;
  height: 44px;
  overflow: hidden;
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
}

.works .btn-more {
  opacity: 0;
  z-index: 2;
  font-size: 0.8em;
  padding: 5px 20px;
  letter-spacing: 1px;
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
}

#slider {
  min-width: 226px;
  max-width: 226px;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#slider .works-block {
  min-width: 226px;
  max-width: 226px;
}

#slider .works-block .works__info,
#slider .works-block .btn__more {
  -webkit-transition: all 0.35s linear 0.4s;
  transition: all 0.35s linear 0.4s;
}

#slider .works-block .owl-item.active .btn-more,
#slider .works-block .owl-item.active .works__info {
  opacity: 1;
  -webkit-transform: translate(0, 0px);
  transform: translate(0, 0px);
}

#slider .works-block .owl-item.active .works__name {
  color: #ff9000;
}

.wor-block {
  position: relative;
  display: block;
  z-index: 5;
  max-width: 100%;
}

.slider-video .video-player {
  display: block;
  max-width: 1008px;
  min-height: 530px;
  max-height: 530px;
  position: relative;
  overflow: hidden;
  margin-left: 5px;
}

.slider-video .video-player video {
  width: 100%;
  max-width: 1008px;
  position: relative;
  max-height: 100%;
  /*height: 100% !important;*/
  -ms-object-fit: contain;
  object-fit: contain;
}
.slider-video .video-player video:focus{
  outline: none;
  border: none;
}

.slider-video .video-player i {
  font-size: 54px;
  color: #ff9000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  cursor: pointer;
}
.slider-video .video-player video::-webkit-media-controls{
  visibility: hidden;
}
.slider-video .video-player:hover video::-webkit-media-controls{
  visibility: visible;
}
.slider-video .video-player #overlarW {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  bottom: 0;
  -webkit-transition: all 0.2s linear 0.2s;
  transition: all 0.2s linear 0.2s;
  background-position: center ;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.slider-video .video-player:hover i {
  font-size: 65px;
  color: #fff;
}

.slider-video .video-player:hover i:after {
  border-color: #fff;
}

.slider-video .video-player #overlarW.o {
  opacity: 0;
  z-index: -1;
  background-color: transparent;
}

.slider-video .video-player #overlarW.o i {
  opacity: 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 65px;
  margin-top: 55px;
}

.contact-item {
  max-width: 360px;
  -webkit-box-flex: 360px;
  -ms-flex: 360px;
  flex: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #fff;
  margin-right: 73px;
}

.contact-item:last-child {
  border-color: transparent;
}

.contact-item a {
  display: block;
  padding-left: 45px;
  position: relative;
  min-height: 45px;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 300;
}

.contact-item a img {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
}

.contact-item.contact-mail {
  padding-top: 5px;
}

.contact-item.contact-phone {
  max-width: 320px;
  -ms-flex-preferred-size: 320px;
  flex-basis: 320px;
  margin-right: 24px;
  padding-top: 5px;
}

.contact-item.contact-phone img {
  top: 2px;
  left: 5px;
}

.contact-item.contact-map img {
  width: 35px;
  height: 35px;
}

.contact-bl {
  padding: 38px 43px 38px 59px;
  margin: 0;
  max-width: 1393px;
  background-color: rgba(255, 255, 255, 0.1);
}

.c-form {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: center;
}

.c-form__title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  font-size: 26px;
  margin-top: 19px;
  margin-bottom: 48px;
  text-align: left;
}

.c-form-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 330px;
  flex: 0 0 330px;
  max-width: 330px;
  margin-bottom: 20px;
  margin-right: 40px;
  text-align: left;
}

.c-form-item.submit {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 350px;
  flex: 0 0 350px;
  max-width: 350px;
  margin-right: 0px;
}

.c-form-item label {
  display: block;
  font-size: 16px;
  color: #a3a3a3;
}

.c-form-item input,
.c-form-item textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #6e6e6e;
  display: block;
  width: 100%;
  padding: 8px 0px 16px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  resize: none;
}

.c-form-item input::-webkit-input-placeholder,
.c-form-item textarea::-webkit-input-placeholder {
  color: #fff;
}

.c-form-item input:-ms-input-placeholder,
.c-form-item textarea:-ms-input-placeholder {
  color: #fff;
}

.c-form-item input::-ms-input-placeholder,
.c-form-item textarea::-ms-input-placeholder {
  color: #fff;
}

.c-form-item input::placeholder,
.c-form-item textarea::placeholder {
  color: #fff;
}

.c-form-item input:focus,
.c-form-item textarea:focus {
  outline: none;
}

.c-form-item textarea {
  min-height: 120px;
}

.c-form-item input[type="submit"] {
  position: relative;
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-left: auto;
  border: none;
  font-size: 0;
  background: #474748 url(../img/submit.png) center no-repeat;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.c-form-item input[type="submit"]:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  border-radius: 4px;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.c-map {
  width: 519px;
  height: 486px;
  background: #474747;
  margin: 0 0 0 auto;
}

.c-map iframe {
  width: 100%;
  height: 100%;
}

.part {
  margin-top: 75px;
}

.part .row {
  margin: 0;
  padding: 0 10px;
}

.part .card-part {
  padding: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  max-width: 32%;
}

.part-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 0 0 60px;
  width: 392px;
  height: 154px;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  opacity: 1; 
}

.part-item img {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -ms-filter: invert(0.5) grayscale(100%);
  -moz-filter: invert(0.5) grayscale(100%);
  -webkit-filter: invert(0.5) grayscale(100%);
  filter: invert(0.5) grayscale(100%);
  opacity: 1;
}
_:-ms-fullscreen, :root .part-item img {-ms-filter: grayscale(1) !important;}


.part-item:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1; 
}

.career-bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1370px;
}

.career-bl__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 617px;
  flex: 0 0 617px;
  max-width: 617px;
  margin: 44px 0 0 0;
}

.career-bl__item:nth-child(1) {
  margin-top: 0;
}

.career-bl__item:nth-child(2) {
  margin-top: 0;
}

.career-bl__item .career-item {
  position: relative;
  max-height: 293px;
  min-height: 293px;
  overflow: hidden;
}

.career-bl__item .career-item img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.career-bl__item .career-item a {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 430px;
  text-align: center;
  text-transform: inherit;
  font-size: 16px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.career-bl__item .career-item:hover img {
  -ms-filter: grayscale(0.7);
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.career-bl__item .career-item:hover a {
  bottom: calc( 50% - 30px);
}

.list-text li {
  color: #fff;
  font-weight: 200;
}

.formapp-item {
  margin-bottom: 10px;
}

.formapp-item.item-big {
  max-width: 712px;
}

.formapp-item.item-small {
  max-width: 312px;
}

.formapp-item div {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 200;
}

.formapp-item label,
.formapp-item span {
  display: block;
  color: #fff;
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 10px;
}

.formapp-item input,
.formapp-item select,
.formapp-item textarea,
.formapp-item .jq-selectbox__select {
  font-size: 16px;
  width: 100%;
  margin-left: 12px;
  padding: 10px 5px;
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.formapp-item .jq-selectbox.jqselect {
  position: relative;
  margin-bottom: 0 !important;
  min-width: 100%;
}

.formapp-item .jq-selectbox.jqselect div {
  margin-bottom: 0;
}

.formapp-item .jq-selectbox__trigger {
  border: none;
}

.formapp-item .jq-selectbox__trigger-arrow {
  top: 15px;
  border-top: 8px solid #ff9000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.formapp-item .jq-selectbox.jqselect.focused .jq-selectbox__trigger-arrow,
.formapp-item .jq-selectbox.jqselect.changed .jq-selectbox__trigger-arrow {
  border-top: 8px solid #fff;
}

.formapp-item .jq-selectbox__select {
  padding-left: 10px;
}

.formapp-item .jq-selectbox__dropdown {
  position: absolute;
  min-width: 100%;
  top: 100%;
  left: 12px;
  right: 0;
}

.page-main .slider-top .jq-selectbox li{
  color: #000;
}
.formapp-item .jq-selectbox li.selected {
  background: #ff9000;
  color: #fff;
}

.formapp-item .jq-selectbox li:hover {
  background: rgba(0, 0, 0, 0.5);
}

.formapp-item label span {
  margin-left: 12px;
}

.formapp-item textarea {
  max-width: 724px;
  height: 216px;
}

.formapp-item option {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
}

.formapp-item table {
  color: #fff;
  font-weight: 200;
}

.formapp-item table tbody tr td:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.formapp-item table tbody tr td:first-child span {
  margin-right: 5px;
}

.formapp-item table td {
  border: 1px solid #fff;
  padding: 10px;
}

.formapp-item table td span {
  display: inline-block;
}

.formapp-item table td input {
  display: inline-block;
  max-width: 100%;
  margin: 0;
}

.rable-radio,
.radio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.rable-radio label,
.radio-row label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80px;
  margin: 0;
}

.rable-radio label span,
.radio-row label span {
  margin: 0;
}

.rable-radio input,
.radio-row input {
  margin: 0;
  width: auto;
  margin-right: 15px;
}

.radio-row div {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.radio-row label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  max-width: 150px;
  margin: 0;
}

.radio-row label span {
  margin: 0;
}

.radio-row input {
  margin: 0;
  width: auto;
  margin-right: 15px;
}

.check-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.check-file span:nth-child(1) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.check-file label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 206px;
  flex: 0 0 206px;
  max-width: 206px;
  width: auto;
  padding: 10px;
  margin-right: 20px;
  position: relative;
  margin-left: 12px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  text-align: center;
}

.check-file label input {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.check-file .select-result {
  margin: 0;
}

.submit-form input.btn-more {
  margin-top: 10px !important;
  width: 100px;
}

.fa-home {
  color: #f6f7f9;
}

.page-main .bg {
  position: fixed;
}

.page-main .slider-top {
  text-align: left;
}

.page-main .slider-top h2 {
  font-size: 5.5em;
}

.page-main .slider-top .btn-more {
  margin-top: 40px;
}

.page-main .slider-top p,
.page-main .slider-top li {
  color: #fff;
}

@media (min-width: 770px) {
  .modal-link {
    display: none;
  }

  .lang {
    position: relative;
    color: #fff;
    max-width: 100px;
    margin-left: 45px;
  }

  .lang__trigger {
    text-transform: uppercase;
    background-color: #1f1f1f;
    color: #ff9000;
    min-height: 78px;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: .35s ease;
    transition: .35s ease;
  }

  .lang__item {
    position: absolute;
    bottom: -40px;
    padding: 10px 20px;
    background-color: #232324;
    border: none;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
    z-index: -1;
    opacity: 0;
    color: #fff;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
  }

  .lang__item--0 {
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: calc(50% - 30px);
  }

  .lang__item--1 {
    -webkit-transition: .35s ease-in-out .1s;
    transition: .35s ease-in-out .1s;
    left: calc(50% - 30px);
  }

  .lang__item--2 {
    -webkit-transition: .35s ease-in-out .2s;
    transition: .35s ease-in-out .2s;
    right: calc(50% - 30px);
  }

  .is-rotate {
    background-color: #4e4b4b;
  }

  .lang-item-0 {
    bottom: -55px;
    left: calc(50% - 0px);
    opacity: 1;
    z-index: auto;
  }

  .lang-item-1 {
    bottom: -55px;
    left: calc(50% - 80px);
    opacity: 1;
    z-index: auto;
  }

  .lang-item-2 {
    bottom: -55px;
    right: calc(50% - 0px);
    opacity: 1;
    z-index: auto;
  }
}
.page-main .slider-item {
  padding-top: 80px;
    -ms-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@media (min-width: 1800px) {
  .page-main .slider-item {
    padding-top: 6%;
    padding-right: 4%;
    -ms-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .slider-item {
	padding: 248px 0px 20px 353px;
  }
}

@media (min-width: 1920px) and (min-height: 850px) and (max-height: 1500px) {
  .career-bl {
    margin-top: 30px;
  }
}

@media (max-width: 1920px) {
  .wrapper {
    width: 100%;
    max-width: 1920px;
  }
}
_:-ms-fullscreen, :root .slider-item {padding-top: 80px !important;}


@media (max-width: 1919px) {
  .slider-top {
    max-width: 100%;
  }

  .slider-bot {
    max-width: 100%;
    max-width: 1300px;
  }

  .slider-item {
    padding-left: 300px;
    -ms-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .slider-item__name {
    font-size: 12em;
  }

  .slider-video .video-player {
    max-width: 800px;
    min-height: 400px;
  }

  .contact-bl {
    max-width: 90%;
    padding: 40px;
  }
}

@media (max-width: 1801px) {
  .custom-navbar {
    display: block;
  }
}

@media (max-width: 1600px) {
  .slider-item {
    padding-top: 90px;
    padding-bottom: 10px;
  }

  .slider-item__link {
    margin-left: 0;
  }

  .section-1 .slider-top {
    margin-bottom: 0px;
  }

  .page-main .section-6 h2 {
    font-size: 80px;
    margin-bottom: 20px !important;
  }

  .contact {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .c-form__title {
    margin-bottom: 20px;
    margin-top: 0;
  }

  .c-form-item.submit {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    margin-right: 20px;
    margin-bottom: 7px;
  }

  .c-form-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
    margin-right: 20px;
    margin-bottom: 7px;
  }

  .c-form-item label {
    font-size: 14px;
  }

  .c-form-item input,
  .c-form-item textarea {
    font-size: 14px;
  }

  .c-form-item textarea {
    min-height: 80px;
    max-height: 90px;
  }

  .part {
    margin-top: 15px;
  }

  .part .row {
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 1500px) {
  nav#nav-test {
    top: 10px;
    border-radius: 5px;
  }

  nav#nav-test #nav-container ul li a {
    font-size: 0.8em;
  }


  .slider-top {
    padding-right: 40px;
    margin-bottom: 0;
  }

  .slider-top h2 {
    font-size: 90px;
  }

  .slider-bot {
    max-width: 100%;
    max-width: 1000px;
  }

  .slider-item__info {
    margin-bottom: 7px;
  }

  .slider-video .video-player {
    max-width: 500px;
    max-height: 300px;
    min-height: 300px;
  }

  .slider-video .video-player i {
    font-size: 40px;
  }

  .c-map {
    width: 90%;
    max-width: 90%;
    height: 260px;
  }

  .part h2 {
    margin-bottom: 20px !important;
  }

  .part-item {
    max-width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
    height: 120px;
  }

  .career-bl__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
    max-width: 47%;
    margin: 0 0 15px;
  }

  .career-bl__item .career-item {
    max-height: 185px;
    min-height: 185px;
  }

  .career-bl__item .career-item a {
    font-size: 14px;
    max-width: 80%;
  }
}

@media (max-width: 1440px) {
  .section-2 .slider-item__info {
    margin-top: 0;
    margin-bottom: 10px;
  }

  #slider-bottom {
    max-width: 700px;
    margin-left: 220px;
  }

  .contact-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    max-width: 32%;
    margin-right: 15px;
  }
}

@media (max-width: 1400px) {
  nav#nav-test #nav-container ul li {
    min-height: 50px;
  }

  .slider-item {
    max-width: 100%;
    padding-top: 35px;
    justify-content: space-around;
  -webkit-box-pack: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  }

  .contact-bl {
    padding: 20px;
  }

  .c-form__title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .c-form-item textarea {
    min-height: 50px;
    max-height: 50px;
  }
}

@media (max-width: 1300px) {
  .left-bar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    width: 100px;
  }

  .left-logo embed {
    max-width: 90%;
  }

  .slider-item {
    padding-left: 140px;
    padding-bottom: 1%;
  }

  .booot {
    padding-left: 0;
  }

  .contact {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .contact-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29%;
    flex: 0 0 29%;
    max-width: 29%;
    margin-right: 20px;
  }

  .contact-item a {
    font-size: 15px;
    padding-left: 45px;
  }

  .contact-item a img {
    width: 25px;
    height: 25px;
  }

  .contact-item.contact-phone {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 360px;
    flex: 0 0 360px;
    max-width: 360px;
  }
}

@media (max-width: 1024px) {
  .career-bl__item .career-item {
    max-height: 200px;
    min-height: 200px;
  }
}

@media (max-width: 1023px) {
  .centered {
    padding: 0 30px;
  }

  nav#nav-test #nav-container ul li {
    margin-left: 45px;
  }
}

@media (max-width: 992px)  {
    
  nav#nav-test #nav-container ul li {
    margin-left: 25px;
}
  
  .slider-top h2 {
    font-size: 80px;
  }
 
.c-form__title {
  margin-bottom: 10px;
  font-size: 20px;
}
.contact-item, .contact-item.contact-phone {
  -ms-flex: 1;
  flex: 1;
  max-width: 100%;
  margin-right: 15px;
}
.c-form-item {
  flex: 100%;
  max-width: 100%;
  margin-right: 20px;
  margin-bottom: 7px;
}
.contact-bl {
  margin: 0;
  max-width: 100%;
}
    .contact-item a {
      font-size: 13px;
      padding-left: 30px;
    }
    .contact-item.contact-map img {
      width: 25px;
      height: 25px;
  }
  
  .c-form-item.submit {
    flex: 100%;
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: 7px;
}
  
}

@media (max-width: 770px) {
  .left-bar {
    display: none;
    min-height: 100px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    border: none;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    bottom: 0;
    right: 5px;
  }

  .left-logo {
    -ms-flex: 0 0 100px;
    -moz-flex: 0 0 100px;
    -webkit-flex: 0 0 100px;
    -o-flex: 0 0 100px;
    flex: 0 0 100px;
    max-width: 100px;
    margin: 0;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  nav#nav-test {
    padding-top: 0px;
    background: transparent;
    left: 35px;
    right: 58px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  nav#nav-test #nav-container {
    display: none;
  }

  .lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }

  .lang__item,
  .lang__trigger {
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    -webkit-transition: .35s ease;
    transition: .35s ease;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }

  .lang__item.active,
  .lang__trigger.active {
    color: #ff9000;
  }

  .lang__item:hover,
  .lang__trigger:hover {
    color: #ff9000;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .modal-link {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #1f1f1f;
    color: #ff9000;
    padding: 23px 11px;
    cursor: pointer;
    -webkit-transition: .35s ease;
    transition: .35s ease;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .slider {
    text-align: center;
  }

  .slider-top {
    padding: 0;
  }

  .slider-item {
    text-align: center;
    padding: 100px 35px 20px;
  }

  .slider-item__name {
    font-size: 12em;
    text-align: center;
    margin-bottom: 40px;
  }

  .slider-item__info {
    max-width: 80%;
    margin: 0 auto 20px;
    padding-left: 0px;
    line-height: 1.2;
    font-size: 0.8em;
  }

  .section-1 .slider-top {
    margin-bottom: 20px;
  }

  .slider-video .video-player {
    margin: 50px auto 0;
    min-width: 100%;
    max-width: 643px;
    min-height: 338px;
  }

  .contact {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .contact-item {
    border: none;
    margin-right: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: left;
  }

  .contact-item a {
    font-size: 13px;
    padding-left: 35px;
    min-width: 250px;
    margin: auto;
  }

  .contact-item a img {
    width: 20px;
    height: 20px;
    top: 3px;
  }

  .contact-item.contact-phone {
    border: none;
    margin-right: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contact-item.contact-map img {
    width: 20px;
    height: 20px;
  }
  .slider-top h2 {
    font-size: 70px;
}
  .contact-bl {
    padding: 20px;
    max-width: 100%;
    margin: 20px auto 0;
    text-align: left;
  }

  .c-form__title {
    text-align: left;
    font-size: 22px;
  }

  .c-form-item, .c-form-item.submit {
    text-align: left;
    -webkit-box-flex: 0;
    -ms-flex: 50%;
    flex: 50%;
    margin-right: 0;
    padding-right: 20px;
    margin-bottom: 10px;
    max-width: 50%;
  }
  .c-form-item input[type="submit"] {
    width: 55px;
    height: 55px;
  }

  .c-form-item label {
    font-size: 14px;
  }

  .c-form-item input,
  .c-form-item textarea {
    font-size: 14px;
  }

  .c-map {
    width: 100%;
    max-width: 100%;
    margin: 20px auto 0;
    height: 15vh;
  }

  .part h2 {
    font-size: 60px;
    font-weight: 900;
  }

  .career-bl {
    padding-left: 35px;
    padding-right: 35px;
  }

  .career-bl__item .career-item {
    max-height: 263px;
    min-height: 263px;
  }

  .fa-home {
    display: none;
  }

  .page-main .slider-top {
    max-width: 97%;
    margin: 0 auto;
  }

  .page-main .slider-top h2 {
    font-size: 2.5em;
  }

  .page-main .slider-top .btn-more {
    margin-top: 10px;
  }

  .page-main .slider-top p,
  .page-main .slider-top li {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .centered {
    padding: 0 20px;
  }


  .social {
    max-width: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .social a {
    margin: 0 30px;
  }

  .scroll-nav {
    margin-bottom: 10px;
  }

  .part .row {
    margin: 0;
  }

  .part .card-part {
    padding: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
  }

  .career-bl__item .career-item a {
    font-size: 0.5em;
  }
}

@media (max-width: 750px) {
  .slider-item {
    max-width: 100%;
    padding-top: 35px;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .career-bl__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .section-2 .slider-top{
    margin: auto;
  }
}

@media (max-width: 749px) {
  .slider-item {
    padding: 100px 25px 20px;
  }

  .slider-item__name {
    font-size: 9em;
  }

  .section-1 .slider-top {
    margin-bottom: 5px;
  }

  .booot-title {
    font-size: 20px;
    width: 180px;
    left: 0;
  }

  #slider-bottom {
    margin-left: 180px;
  }

  .c-form-item.submit {
    margin-bottom: 7px;
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-right: 0px;
  }

  .c-form-item {
    margin-bottom: 7px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    margin-right: 20px;
  }

  .c-form-item {
    margin-bottom: 7px;
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-right: 0px;
  }

  .c-map {
    max-width: 100%;
    width: 100%;
  }
  .career-bl__item .career-item{
    min-height: 180px;
    max-height: 180px;
  }
}

@media (max-width: 700px) {
  .slider-top h2 {
    font-weight: 900;
    font-size: 100px;
  }
}
@media (max-width: 576px) {
  .slider-item {
    justify-content: space-around;
  }
  .slider-item.section-3,.slider-item.section-5,.slider-item.section-4 {
    padding-top:0 !important;
    padding-bottom: 0 !important;
  }
  
  .c-form-item input, .c-form-item textarea {
    padding: 6px 0 2px;
  }
  
  .c-form__title {
    font-size: 16px;
  } 

  .c-form-item, .c-form-item.submit {
    max-width: 50%;
    flex: 50%;
  }
  .c-form-item textarea {
    min-height: 40px;
    max-height: 40px;
    margin-top: -10px;
  }
  .contact-item img {
    display: none;
  }
  .slider-item__info {
    max-width: 100%;
    margin: 0 auto 10px !important;
  }
  .page-main .slider-top h2 {
    font-size: 35px !important;
  }
  .page-main .slider-top p, .page-main .slider-top li {
    font-size: 14px !important;
  }
  .btn-more {
    font-size: 12px;
  }
  nav#nav-test {
    left: 0px;
    right: 15px;
    padding: 0 5px 0 15px;
  }
  .contact-item a {
    min-height: auto;
    font-size: 12px;
    padding-left: 0;
    text-align: center;
  }
  .slider-top h2 {
    font-size: 70px;
  }
  .modal-link {
    font-size: 15px;
    padding: 16px 10px;
  }
  .slider-item {
    padding: 70px 2px 60px;
  }
  .custom-navbar{
    right: 3%;
  }
  .slider-video .video-player {
    max-width: 90%;
    min-width: 90%;
    min-height: 14vh;
    margin: 20px auto 0;
  }

  .contact-bl {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
  }

  .c-form-item label {
    font-size: 12px;
  }

  .c-form-item input,
  .c-form-item textarea {
    font-size: 12px;
  }

  .c-form-item input[type="submit"] {
    width: 35px;
    height: 35px;
    background-size: 50% 50%;
  }

  .page-main .slider-top {
    max-width: 88%;
  }
  .career-bl__item .career-item {
    min-height: 14vh !important;
    max-height: 14vh !important;
}
  .part-item {
    height: 55px;
    margin-bottom: 15px;
  }

  .formapp-item.item-big{
    max-width: 99%;
    width: 99%;
  }
  .part-item img {
    max-width: 65%;
    margin: 0 auto;
  }
  .radio-row div{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .formapp-item{
    /*overflow: hidden;*/
  }
  .formapp-item table{
    width: 100%;
    max-width: 100%;
    /*overflow-x: auto; */
  }
  .formapp-item table thead td{
    font-size: 12px;
    word-break: break-all;
  }

  .career-bl__item .career-item {
    max-height: 160px;
    min-height: 160px;
  }

  .page-main .slider-top {
    max-width: 95%;
  }
}
@media (max-width: 560px) {
  .btn-more {
    font-size: 0.7em;
  }
}



@media (max-width: 549px) {
  .wrapper {
    max-width: 100%;
  }

  .section-3 h2, .slider-top h2 {
    font-size: 80px;
  }
  
  .slider-item.section-3{
    padding-top: 85px;
  }

  .slider-item__name {
    font-size: 130px;
    margin-bottom: 20px;
  }

  .swiper-slide {
    max-width: 100%;
    width: 100%;
  }

  .booot {
    padding-left: 0;
  }

  .booot-title {
    line-height: 80px;
    height: 80px;
    width: 120px;
    top: 78px;
  }

  .booot:after {
    height: 80px;
    top: 78px;
  }

  #slider-bottom {
    margin-left: 120px;
    min-height: 220px;
    max-height: 220px;
  }

  #carousel-custom-dots {
    top: 110px;
    max-width: 180px;
  }

  #carousel-custom-dots .owl-dot {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    max-width: 180px;
  }
  #slider {
    max-width: 180px;
    min-width: 180px;
  }

  .works {
    max-width: 180px;
    min-width: 180px;
    padding-top: 135px;
  }

  .works__name {
    font-size: 0.9em;
  }

  .works__info {
    font-size: 0.8em;
    height: 40px;
  }

  #slider .works-block {
    max-width: 180px;
    min-width: 180px;
  }

  .contact {
    margin-top: 10px;
  }

  .contact-bl {
    margin-top: 10px;
  }

  .career-bl {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 479px) {
  
 
}

@media (max-width: 430px) {
  .page-main .slider-top p,
  .page-main .slider-top li {
    font-size: 0.9em;
  }
}

@media (max-width: 414px) {
  .part {
    max-width: 414px;
  }
}

@media (max-width: 413px) {
  .slider-item__name {
    font-size: 110px;
  }

  .booot-title {
    width: 80px;
    font-size: 16px;
  }

  #slider-bottom {
    margin-left: 80px;
  }
  .slider-item__info {
    font-size: 12px;
  }

  .custom-navbar__item {
    margin: 0 5px;
  }

  .custom-navbar i {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .part {
    max-width: 375px;
  }
  /* .career-bl__item .career-item{
    min-height: 120px;
    max-height: 120px;
  } */
}

@media (max-width: 374px) {
  .wrapper {
    max-width: 360px;
  }

  .slider-top h2 {
    font-size: 38px;
  }

  .slider-item__name {
    font-size: 80px;
  }

  .booot-title {
    width: 80px;
    font-size: 16px;
    top: 55px;
  }

  .booot:after {
    top: 55px;
  }

  #slider-bottom {
    max-height: 170px;
    min-height: 170px;
  }

  #carousel-custom-dots {
    top: 85px;

  }

  #carousel-custom-dots .owl-dot {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    max-width: 130px;
  }

  .works {
    max-width: 130px;
    min-width: 130px;
    padding-top: 100px;
    padding-left: 16px;
  }

  .works__name {
    font-size: 14px;
  }

  .works__info {
    font-size: 13px;
    height: 40px;
  }

  .works .btn-more {
    font-size: 10px;
    padding: 5px;
  }

  #slider .works-block {
    max-width: 130px;
    min-width: 130px;
  }
}

@media (max-width: 350px) {
  .page-main .slider-top {
    max-width: 84%;
  }

  .page-main .slider-top h2 {
    font-size: 2.2em;
  }
}

@media (max-width: 349px) {
  .page-main .section-6 h2 {
    font-size: 1.5em;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 320px) {
  .wrapper {
    max-width: 320px;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .lang__trigger {
    min-height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1500px) {
  .lang__trigger {
    font-size: 0.9em;
  }

  .lang__item {
    font-size: 0.75em;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .slider-item__name {
    font-size: 7em;
  }
}

@media (min-width: 1800px) and (max-width: 1920px) {
  .contact {
    margin-bottom: 25px;
    margin-top: 20px;
  }
}

@media (min-width: 1700px) and (min-height: 850px) and (max-height: 1000px) {
  .slider-item {
    padding-top: 3%;
  }

  .part {
    margin-top: 50px;
  }
}

@media (width: 1920px) and (max-height: 1200px) and (min-height: 850px) {
  .section-2 .slider-item__info {
    margin-bottom: 15px;
  }
}

@media (min-width: 1700px) and (max-height: 1600px) {
  .section-3 {
    padding-top: 60px;
  }

  .section-3 h2 {
    font-size: 90px;
  }
}

@media (max-height: 1400px) {
  .section-3 {
    padding-top: 40px;
  }
}

#mainbg img {
  position:absolute;
  left:0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -ms-object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  object-fit: cover;
  -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -o-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#mainbg img.active {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

.swiper-slide-active {
	z-index: 999999999;
}
