header {
  min-height: 100vh;
  background: url('../img/headerBg.png') center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
}

header .sina-nav {
  background: url('../img/menubg.png');
  border-top: 1px solid #ff6868 !important;
}

header .sina-nav .sina-brand h2 {
  font-size: 22px;
  font-family: "Open Sans";
  color: #ff6868;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.5;
}

header .sina-nav .sina-menu li a {
  font-size: 14px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

header .headerTitle {
  max-width: 475px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 30%;
}

header .headerTitle h1 {
  font-size: 52px;
  font-family: "Open Sans";
  color: #ff6868;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

header .headerTitle p {
  font-size: 14px;
  font-family: "Open Sans";
  color: #ffffff;
  line-height: 1.5;
  text-align: left;
  max-width: 423px;
  margin-bottom: 30px;
}

header .headerTitle form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

header .headerTitle form input {
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #4a515b;
  width: 70%;
  height: 46px;
  padding-left: 25px;
}

header .headerTitle form input::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

header .headerTitle form input::-moz-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

header .headerTitle form input:-ms-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

header .headerTitle form input::-ms-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

header .headerTitle form input::placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

header .headerTitle form button {
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #ff6868;
  width: 25%;
  height: 46px;
  font-size: 12px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

header .headerTitle a {
  text-decoration: none;
}

header .headerTitle a i {
  color: #ff6868;
  border: #ff6868 2px solid;
  line-height: 2.5;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  width: 44px;
  height: 44px;
  margin: 0 10px;
}

header .headerTitle a i:nth-child(1) {
  margin-left: 0;
}

header .headerTitle a i:hover {
  background: #ff6868;
  color: #39414b;
}

.service {
  padding: 90px 0;
}

.service .shape {
  display: block;
  margin: 20px auto;
}

.service .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service .content .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 290px;
  margin: 0 15px;
  text-align: center;
}

.service .content .item img {
  margin-bottom: 25px !important;
  display: block;
  margin: auto;
}

.service .content .item h2 {
  margin-top: auto;
  font-size: 24px;
  font-family: "Open Sans";
  color: #3a424c;
}

.service .content .item p {
  margin-top: auto;
  font-size: 14px;
  color: #9aa0a8;
  line-height: 1.5;
  text-align: center;
  max-width: 294px;
  margin-bottom: 55px;
}

.design {
  background: url('../img/desinger.png') center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  padding: 60px 0;
}

.design .right {
  position: absolute;
  right: 0;
}

.design .left {
  position: absolute;
  left: 0;
}

.design .designer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.design .designer img {
  margin-right: 10px;
}

.design .designer .info {
  margin-left: 10px;
}

.design .designer .info h4 {
  font-size: 32px;
  font-family: "Open Sans";
  color: #ff6868;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.design .designer .info h6 {
  font-size: 24px;
  font-family: "Open Sans";
  color: #ffffff;
  line-height: 1.2;
  text-transform: capitalize;
}

.design .designer .info p {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
  text-align: left;
  max-width: 458px;
}

.design .designer .info a {
  text-decoration: none;
}

.design .designer .info a i {
  color: #ff6868;
  border: #ff6868 2px solid;
  line-height: 2;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

.design .designer .info a i:nth-child(1) {
  margin-left: 0;
}

.design .designer .info a i:hover {
  background: #ff6868;
  color: #39414b;
}

.design .designer .info .bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
}

.design .designer .info .bar h3 {
  font-size: 14px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.design .designer .info .bar p {
  font-size: 14px;
  font-family: "Open Sans";
  color: #ff6868;
  font-weight: bold;
  margin: 0;
}

.design .designer .info .progress {
  height: 5px;
  background-color: #4a515b;
}

.design .designer .info .progress .progress-bar {
  background-color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

.devolopment {
  padding-bottom: 90px;
  margin-top: 90px;
  position: relative;
}

.devolopment .iphone {
  position: absolute;
}

.devolopment .app h3 {
  font-size: 32px;
  font-family: "Open Sans";
  color: #ff6868;
  text-transform: uppercase;
  font-weight: 900;
}

.devolopment .app p {
  font-size: 14px;
  color: #99a0a8;
  line-height: 1.5;
  max-width: 458px;
}

.devolopment .app button {
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #ff6868;
  max-width: 132px;
  height: 46px;
  font-size: 12px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.portfolio {
  padding-top: 90px;
}

.portfolio .title p {
  max-width: 700px;
  margin: auto;
}

.portfolio .nav {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}

.portfolio .nav li {
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 7px 16px;
  border: 1.5px solid #fff;
}

.portfolio .nav li:hover {
  border-color: #ff6868;
}

.portfolio .nav li:hover a {
  color: #ff6868;
}

.portfolio .nav li.active {
  background: #ff6868;
}

.portfolio .nav li.active a {
  color: #fff !important;
}

.portfolio .nav li a {
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Open Sans";
  color: #99a0a8;
  text-align: center;
  text-decoration: none;
}

.portfolio .tab-content .tab-pane {
  display: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.portfolio .tab-content .tab-pane.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .tab-content .tab-pane .item {
  width: 25%;
  position: relative;
  display: block;
}

.portfolio .tab-content .tab-pane .item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .tab-content .tab-pane .item:hover .overlay {
  opacity: 1;
}

.portfolio .tab-content .tab-pane .item:hover .link-icon {
  opacity: 1;
}

.portfolio .tab-content .tab-pane .item img {
  cursor: pointer;
}

.portfolio .tab-content .tab-pane .item .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background: url('../img/overlay.png') repeat;
}

.portfolio .tab-content .tab-pane .item .link-icon {
  display: block;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 45%;
  left: 20px;
  margin-left: -18.5px;
  margin-top: -20px;
  width: 100%;
}

.portfolio .tab-content .tab-pane .item .link-icon p {
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 700;
  color: #ff6868;
  text-transform: uppercase;
}

.portfolio .tab-content .tab-pane .item .link-icon .fa {
  font-size: 24px;
  font-weight: 700;
  color: #ff6868;
  text-transform: uppercase;
}

.clients {
  padding-top: 60px;
  padding-bottom: 50px;
  background: url('../img/clientsBg.png');
  -webkit-background-size: cover;
          background-size: cover;
}

.blog {
  padding: 90px 0;
}

.blog .content {
  margin-top: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.blog .content .item {
  max-width: 450px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 15px;
}

.blog .content .item .users {
  margin-right: 10px;
}

.blog .content .item .info {
  margin-left: 10px;
}

.blog .content .item .info h3 {
  font-size: 24px;
  font-family: "Open Sans";
  color: #3a424c;
  text-transform: uppercase;
  font-weight: 900;
}

.blog .content .item .info h3:hover {
  color: #ff6868;
}

.blog .content .item .info h6 {
  font-size: 12px;
  font-family: "Open Sans";
  color: #dddddd;
  font-weight: bold;
  text-transform: uppercase;
}

.blog .content .item .info p {
  font-size: 14px;
  color: #99a0a8;
  line-height: 1.5;
  max-width: 213px;
}

.newsletter {
  background: url('../img/newsBg.png') center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 60px 0;
}

.newsletter .news h1 {
  font-size: 32px;
  font-family: "Open Sans";
  color: #ff6868;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 40px;
  margin-bottom: 20px;
}

.newsletter .news p {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
  text-align: left;
  max-width: 423px;
  margin-bottom: 20px;
}

.newsletter .news form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 525px;
}

.newsletter .news form input {
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #4a515b;
  width: 70%;
  height: 46px;
  padding-left: 25px;
}

.newsletter .news form input::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.newsletter .news form input::-moz-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.newsletter .news form input:-ms-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.newsletter .news form input::-ms-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.newsletter .news form input::placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.newsletter .news form button {
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #ff6868;
  width: 25%;
  height: 46px;
  font-size: 12px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.pricing {
  padding: 90px 0;
}

.pricing .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .content .card {
  width: 300px;
  margin: 55px 10px;
}

.pricing .content .card .card-top {
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  background-image: -webkit-linear-gradient(-45deg, #38404a 0%, #3d454f 100%);
  background-image: -ms-linear-gradient(-45deg, #38404a 0%, #3d454f 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 24px;
}

.pricing .content .card .card-top .tarif h1 {
  font-size: 28px;
  font-family: "Open Sans";
  color: #ff6868;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
}

.pricing .content .card .card-top .tarif p {
  font-size: 12px;
  font-family: "Open Sans";
  color: #717a84;
  text-transform: uppercase;
  margin: 0;
}

.pricing .content .card .card-top .price {
  font-size: 32px;
  font-family: "Open Sans";
  color: #ff6868;
  font-weight: bold;
  margin: 0;
}

.pricing .content .card .card-body {
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
}

.pricing .content .card .card-body ul {
  padding: 0;
}

.pricing .content .card .card-body ul li {
  list-style: none;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Open Sans";
  color: #99a0a8;
}

.pricing .content .card .card-body ul li .fa {
  color: #ff6868;
  margin-right: 14px;
  font-size: 20px;
}

.pricing .content .card .card-body button {
  display: block;
  margin: auto;
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #ff6868;
  width: 102px;
  height: 46px;
  font-size: 12px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.comment {
  padding: 60px 0;
  background: #38404a;
}

.comment .post {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment .post h4 {
  font-size: 32px;
  font-family: "Open Sans";
  color: #ffffff;
  max-width: 743px;
  margin: auto;
  margin-bottom: 20px;
}

.comment .post a {
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 17px;
  color: #ffffff;
  font-weight: 400;
}

.comment .post a span {
  color: #99a0a8;
}

.comment .post i {
  color: #ff6868;
  border: #ff6868 2px solid;
  line-height: 2.5;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: auto;
  width: 44px;
  height: 44px;
}

.comment .post i:hover {
  background: #ff6868;
  color: #39414b;
}

.contact {
  padding: 90px 0;
}

.contact form {
  margin-top: 40px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact form textarea {
  width: 78%;
  height: 250px;
  margin: 10px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: url('../img/contactinput.png');
  padding-left: 25px;
  padding-top: 25px;
}

.contact form textarea::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.contact form textarea::-moz-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.contact form textarea:-ms-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.contact form textarea::-ms-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.contact form textarea::placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.contact form input {
  margin: 10px;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: url('../img/contactinput.png');
  width: 25%;
  height: 46px;
  padding-left: 25px;
}

.contact form input::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.contact form input::-moz-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.contact form input:-ms-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.contact form input::-ms-input-placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.contact form input::placeholder {
  font-size: 12px;
  font-family: "Open Sans";
  color: #a2a2a2;
  font-weight: bold;
  text-transform: uppercase;
}

.contact button {
  display: block;
  margin: auto;
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #ff6868;
  width: 102px;
  height: 46px;
  font-size: 12px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  background: #38404a;
  padding: 60px 0;
}

footer .footerTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

footer .footerTitle .logotip hr {
  background-color: #49515c;
  margin: 5px 0;
}

footer .footerTitle .logotip p {
  color: #99a0a8;
  font-size: 12px;
  font-family: "Myriad Pro";
}

footer .footerTitle .logotip p span {
  color: #ff6868;
}

footer .footerTitle a {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-decoration: none;
}

footer .footerTitle a i {
  font-size: 12px;
  color: #ff6868;
  border: #ff6868 2px solid;
  line-height: 2;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
}

footer .footerTitle a i:nth-child(2) {
  margin: 0 8px;
}

footer .footerTitle a i:hover {
  background: #ff6868;
  color: #39414b;
}

body {
  min-width: 320px;
}

.title {
  text-align: center;
}

.title h3 {
  font-size: 38px;
  font-family: "Open Sans";
  color: #3a424c;
  text-transform: capitalize;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  header .sina-nav .navbar-collapse {
    background: url('../img/menubg.png');
    -webkit-background-size: cover;
            background-size: cover;
  }
}

@media (max-width: 992px) {
  .service .shape {
    width: 70%;
  }

  .devolopment .iphone {
    top: 15%;
  }
}

@media (max-width: 768px) {
  .design .designer .info {
    text-align: center;
  }

  .devolopment .iphone {
    top: 30%;
  }

  .portfolio .tab-content .tab-pane .item .link-icon p {
    display: none;
  }

  .newsletter .news h1 {
    margin-left: 0;
  }

  .pricing .content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .contact form input {
    width: 78%;
  }
}

@media (max-width: 576px) {
  .service .shape {
    opacity: 0;
  }

  .service .content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .devolopment .iphone {
    top: 55%;
  }

  .blog .content .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .blog .content .item .users {
    margin: 0;
  }

  .blog .content .item .info {
    margin: 0;
  }

  .newsletter .news {
    text-align: center;
  }

  .contact form textarea {
    height: 150px;
  }
}

@media (max-width: 400px) {
  .devolopment .iphone {
    top: 70%;
  }
}

@media (max-width: 320px) {
  header .headerTitle {
    top: 20%;
  }

  header .headerTitle a {
    text-align: center;
  }

  .design .designer .info a {
    text-align: center;
  }
}
